{% extends "base.html" %}

{% block content %}
<div class="philo-container">
    <header class="philo-header">
        <div class="header-content">
            <h1>HISTOIRE Seconde </h1>
            <p class="header-description">Programme officiel</p>
        </div>
        <div class="global-progress">
            <div class="progress-stats">
                <span class="progress-percentage">0%</span>
                <span class="progress-label">de progression</span>
            </div>
            <div class="progress-bar">
                <div class="progress-fill" style="width: 0%"></div>
            </div>
        </div>
    </header>

    <div class="domains-container">
        <!-- Chapitre 1 : Le Système Nerveux -->
        <section class="domain-section">
            <div class="domain-header">
                <h2>Chapitre 1 : LA PRÉHISTOIRE AFRICAINE </h2>
                <span class="domain-progress">0/7 leçons</span>
            </div>
            <div class="chapters-grid">
                <div class="chapter-card">
                    <div class="chapter-number">1.1</div>
                    <div class="chapter-content">
                        <h3> L’Afrique, berceau de l’humanité</h3>
                        <div class="chapter-progress">
                            <button class="btn-start">Commencer</button>
                            <div class="progress-container">
                                <div class="progress-bar" style="width: 0%"></div>
                            </div>
                            
                        </div>
                    </div>
                </div>

                <div class="chapter-card">
                    <div class="chapter-number">1.2</div>
                    <div class="chapter-content">
                        <h3>Les civilisations paléolithiques</h3>
                        <div class="chapter-progress">
                            <button class="btn-start">Commencer</button>
                            <div class="progress-container">
                                <div class="progress-bar" style="width: 0%"></div>
                            </div>
                            
                        </div>
                    </div>
                </div>

                <div class="chapter-card">
                    <div class="chapter-number">1.3</div>
                    <div class="chapter-content">
                        <h3> La révolution néolithique et ses conséquences</h3>
                        <div class="chapter-progress">
                            <button class="btn-start">Commencer</button>
                            <div class="progress-container">
                                <div class="progress-bar" style="width: 0%"></div>
                            </div>
                            
                        </div>
                    </div>
                </div>

                <div class="chapter-card">
                    <div class="chapter-number">1.4</div>
                    <div class="chapter-content">
                        <h3>Préhistoire et protohistoire du Sénégal</h3>
                        <div class="chapter-progress">
                            <button class="btn-start">Commencer</button>
                            <div class="progress-container">
                                <div class="progress-bar" style="width: 0%"></div>
                            </div>
                            
                        </div>
                    </div>
                </div>

                <div class="chapter-card">
                    <div class="chapter-number">1.5</div>
                    <div class="chapter-content">
                        <h3>Exercices à la technique de la dissertation</h3>
                        <div class="chapter-progress">
                            <button class="btn-start">Commencer</button>
                            <div class="progress-container">
                                <div class="progress-bar" style="width: 0%"></div>
                            </div>
                            
                        </div>
                    </div>
                </div>

            
            </div>
        </section>

        <!-- Chapitre 2 : Le Système Immunitaire -->
        <section class="domain-section">
            <div class="domain-header">
                <h2>Chapitre 2 : LES CIVILISATIONS DE L’AFRIQUE ANCIENNE</h2>
            </div>
            <div class="chapters-grid">
                <div class="chapter-card">
                    <div class="chapter-number">2.1</div>
                    <div class="chapter-content">
                        <h3> La civilisation de l’Égypte pharaonique</h3>
                    </div>
                </div>

                <div class="chapter-card">
                    <div class="chapter-number">2.2</div>
                    <div class="chapter-content">
                        <h3>Axoum</h3>
                    </div>
                </div>

                <div class="chapter-card">
                    <div class="chapter-number">2.3</div>
                    <div class="chapter-content">
                        <h3>La Méditerranée et le monde</h3>
                    </div>
                </div>

                <div class="chapter-card">
                    <div class="chapter-number">2.4</div>
                    <div class="chapter-content">
                        <h3>Etude de la parenté entre la civilisation égyptienne et le reste de l’Afrique : exemple du Sénégal (sous forme de dossier)</h3>
                    </div>
                </div>
            </div>
        </section>

        <!-- Chapitre 3 : Reproduction et Hérédité -->
        <section class="domain-section">
            <div class="domain-header">
                <h2>Chapitre 3 :  L’AFRIQUE OCCIDENTALE DU VIIE AU XVIIe SIÈCLE</h2>
                
            </div>
            <div class="chapters-grid">
                <!-- Reproduction -->
                <div class="chapter-card">
                    <div class="chapter-number">3.1</div>
                    <div class="chapter-content">
                        <h3>Les civilisations du Soudan médiéval</h3>
                    </div>
                </div>

                <div class="chapter-card">
                    <div class="chapter-number">3.2</div>
                    <div class="chapter-content">
                        <h3> Le processus d’islamisation en Afrique occidentale</h3>
                    </div>
                </div>

                <div class="chapter-card">
                    <div class="chapter-number">3.3</div>
                    <div class="chapter-content">
                        <h3>L’empire du Jolof</h3>
                    </div>
                </div>

                <div class="chapter-card">
                    <div class="chapter-number">3.4</div>
                    <div class="chapter-content">
                        <h3>L’empire du Gaoubu</h3>
                    </div>
                </div>

                <!-- Hérédité -->
                <div class="chapter-card">
                    <div class="chapter-number">3.5</div>
                    <div class="chapter-content">
                        <h3>Initiation à la technique du commentaire historique</h3>
                    </div>
                </div>
            </div>
        </section>

        <!-- Chapitre 4 : Méthodologie -->
        <section class="domain-section">
            <div class="domain-header">
                <h2>Chapitre 4 : LA TRAITE NÉGRIÈRE ET SES CONSÉQUENCES</h2>
                
            </div>
            <div class="chapters-grid">
                <div class="chapter-card">
                    <div class="chapter-number">4.1</div>
                    <div class="chapter-content">
                        <h3>La traite arabe (origines, extensions, conséquences en Afrique)</h3>
                    </div>
                </div>

                <div class="chapter-card">
                    <div class="chapter-number">4.2</div>
                    <div class="chapter-content">
                        <h3>La traite atlantique</h3>
                    </div>
                </div>

                <div class="chapter-card">
                    <div class="chapter-number">4.3</div>
                    <div class="chapter-content">
                        <h3>Dossier sur la traite au Sénégal</h3>
                    </div>
                </div>

            </div>
        </section>
    </div>
</div>
{% endblock %}
